<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Edit photo</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      Select a source for the photo
    </ion-list-header>
    <ion-radio-group [(ngModel)]="option">
      <ion-item>
        <ion-radio value="camera" color="primary">Camera</ion-radio>
      </ion-item>
      <ion-item>
        <ion-radio value="gallery" color="secondary">Gallery</ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <ion-button color="success" expand="block" (click)="choseOption()">
    <ion-label>Select</ion-label>
  </ion-button>
</ion-content>
