<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>product-saledetails</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-text>
        <h1>Buyer</h1>
      </ion-text>
    </ion-card-header>
    <ion-card-content>
      <ion-img [src]="serverRoute + product()!.soldTo.photo" alt="photo"></ion-img>
      <ion-card-title>
        {{ product()!.soldTo.name }}
      </ion-card-title>
      <ion-card-subtitle>
        {{ product()!.soldTo.email }}
      </ion-card-subtitle>
    </ion-card-content>
  </ion-card>
</ion-content>
